h1{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

div.nav button{
    border: 0;
    margin: 0;
    background-color: transparent;
    font-size: large;
    padding-inline: 1%;
}

div.nav button:hover{
    background-color: gainsboro; 
    border-bottom: 1px solid blue;
}

div.nav button.active{
    background-color: lightblue;
    border-bottom: 1px solid blue;
}

div.nav{
    width: 98%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-inline: 1%;
}

div.body{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

div.body table{
    width: 98%;
    border-collapse: collapse;
}

div.body table, th, td{
    border: 1px solid black;
    text-align: center;
}

div.body tr th{
    background-color: lightblue;
}

div.body td button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    margin: 0;
}

div.body td button:hover{
    background-color: lightgray;
}

div.detail{
    margin-top: 3%;
}

div.detail img#logo{
    width: 300px;
    height: 300px;
}

div.detail img#player{
    width: 50px;
    height: 50px;
}

div.detail img{
    width: 100px;
    height: 100px;
}

div.detail td{
    vertical-align: super;
}

div.detail td table{
    border-collapse: collapse;
}

div.detail > table > tbody > tr > td{
    border: none;
}

div.detail > table{
    width: 100%;
    display: flex;
    justify-content: center;
}